/*
 * Font sizes definitions
*/
$font-size-xs: 1.2rem;
$font-size-sm: 1.5rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.1rem;
$font-size-xl: 3.6rem;

/*
 * Font colors definitions
*/
$font-color-dark: #383838;
$font-color-light: #757575;

/*
 * Global colors definitions
*/
$color-purple: #5a4d99;
$color-yellowgreen: #bfcc36;
$color-darkblue: #1a587a;
$color-orange: #ffa500;
$color-blue: #009df2;
$color-lightgrey: #f1f1f1;
$color-darkgrey: #aaa;

/*
 * General definitions
*/
$header-height: 20rem;
$container-max-width: 98.4rem;
